.colors {
  canvas-color: #f6eee3;
  dotgrid-color: #bbbbbb;
  potraitbg-color: #ffd299;
  potraitbg-undershadow-color: #2c2c2c;

  navitems-colors: #ea93d3;
  navitems-colors: #af89f2;
  navitems-colors: #689f63;

  github heatmap colors:
  #ffe5ec #ffc2d1 #ffb3c6 #ff8fab #fb6f92


}
