@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@font-face {
  font-family: Sinosans;
  src: url("/fonts/SinosansRegular.otf") format("opentype");
}
@font-face {
  font-family: Syne;
  src: url("/fonts/syne.ttf") format("opentype");
}
@font-face {
  font-family: Signature;
  src: url("/fonts/SignatureDecember.otf") format("opentype");
}
